<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <body>
        <div class="cover-content">
            <h3><center>WELCOME TO TRAIN BOOKING AND RESERVATION SYSTEM</center></h3>
            <p><center><h4>This is a portfolio project for the Holberton School Project</h4></center></p>
        
          </div>
    <header>
        <div class="container">
            <h1>About Us</h1>
            <ul>
                <li><a href="#contact">Contact</a></li>
            <!--    <li><a href="#team">Team</a></li>
                <li><a href="#project">Project</a></li>  -->
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>What Inspired the Project</h2>
            <p>
                The idea for this project was born out of a simple yet powerful conversation between a group of friends who share a passion for technology and innovation. One evening, while discussing the challenges and opportunities in the field of technology, I realized that I could create something meaningful that could make a difference in one of the transportation system. This project is more than just a requirement for Holberton School; it is a manifestation of my collective dreams, skills, and dedication.
            </p>
            <p>
                My journey began with brainstorming sessions, followed by rigorous planning and relentless coding throughout the process, I faced numerous challenges, but my determination and consultation kept me going. Today, I'm proud to present this project as part of my portfolio project for Holberton School. You can learn more about Holberton School and their programs <a href="https://www.holbertonschool.com" target="_blank">here</a>.
            </p>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h3>Meet the developer through the following social networks</h3>

            <div class="team-member">
                <h3>Mohammed Yahaya</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/mohammed-yahaya-3784b416b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/muhsinbn" target="_blank">GitHub</a></li>
                    <li><a href="https://twitter.com/muhad_2020" target="_blank">X</a></li>
                </ul>
            </div>

            
    </section>

    <section id="project">
        <div class="container">
            <h2>Project Repository</h2>
            <p>You can find the source code and detailed documentation of my portfolio project on my GitHub repository.</p>
            <p><a href="https://github.com/muhsinbn" target="_blank">GitHub Repository</a></p>
        </div>
    </section>

    <footer id="contact">
        <div class="container">
            <p>Contact me at <a href="mailto:info@example.com">muhsinbnyahya@gmail.com</a></p>
            <p>&copy; 2024 Portfolio project 4 holbertonschool. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>