<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
<ul>
    <h1>Login page.</h1>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    <li><a href="{{ url_for('Admin Register)}}">Admin Register</a></li>
</ul>

<div class="container">
	<p>WELCOME TO THE TRAIN BOOKING SYSTEM!</p>
	<p>Please log in to continue.</p>
</div>
</body>

</html>
